.blog .contenedor{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.blog article{
	margin:15px;
}

.blog img{
	width: 100%;
	height: 100%;
	max-width: 280px;
	max-height: 280px

}

.blog a{
	text-decoration: none;
	color: black;
}

.blog h3, h4{
	text-align: center;
}

